In [1]:
import pandas as pd

In [11]:
df = pd.read_csv('Resources/temperatures.csv')

In [12]:
df.head()

,Unnamed: 0,City,Longitud,Latitude,Temperature,Humidity,Cloudiness,Wind_speed
0,0,Yellowknife,-114.3525,62.4560,-4.00,84,75,6.91
1,1,Coro,-69.6734,11.4045,72.14,87,8,12.44
2,2,Saint Paul Harbor,-152.4072,57.7900,32.00,43,1,24.16
3,3,Zyryanka,150.8500,65.7500,-26.97,94,100,4.09
4,4,Rikitea,-134.9692,-23.1203,78.49,72,85,14.79

In [13]:
df = df.iloc[:,1:]

In [16]:
df.to_html('table.html')